 <link href="catalog/view/theme/default/stylesheet/auto_search.css" rel="stylesheet"/>
<div id="autosearch" class="col-md-12 col_p-0 auto_mobile">
	<div class="col-md-3 col-xs-3 col_p-0">
	<select  name="category_id" class="form-control border_r_0" id="category_id">
		{% for category in categories %}
			<option value="{{category.category_id}}">{{category.name}}</option>
		{% endfor %}
	</select>
	</div>
	<div class="col-md-9 col-xs-9 col_p-0">
  <input type="text" name="search"  id="search_input"  value="{{ search }}" placeholder="{{ text_search }}" class="form-control border_r_0" />
  <div class="col-md-12 col-xs-12 col_p-0">
  	<div id="auto_suggest" class="col-md-12 col_p-0 auto_border auto_d_none">
  	</div>
  </div>
  </div>
</div>
<script type="text/javascript">
//username suggestions
	$('#search_input').on('keyup', function(e) {
		if((e.keyCode >= 37 && e.keyCode <= 40) || e.keyCode == 13) {
			return false;	
		}		
		var string = $(this).val();
		 $('#auto_suggest').hide();
		 $('#auto_suggest').html('');
		var cat_id= $('#category_id').val();
		if(string.trim().length >= 2) {
			$.ajax({
				url : 'index.php?route=common/autosearch/AutoSearchAjax',
				type: 'post',
				dataType : 'json',
				data : {
				'search': string ,
				'category_id': cat_id,
				},
				success:function(result) {
					 $('#auto_suggest').show();
					 if(result.products){
					$.each(result.products, function(key, value){
						if(value.special!=0)
						{ var special='<br/><del>'+value.special+'</del>'; }else{ var special=''; }

						$('#auto_suggest').append('<a href="'+value.href+'">'
						+'<table class="table table-bordred auto_m-0"><tr>'
						+'<td class="auto_img_box" rowspan="2"><img src="'+value.image+'" alt="'+value.name+'" class="auto_w_60 auto_br"></td>'
						+'<td colspan="2" class="auto_text">'+value.name+'</td>'
						+'<td rowspan="2" class="auto_img_box text-danger text-center auto_text auto_middle">'+value.price+special+'</td>'
						+'</tr><tr>'
						+'<td class="auto_bt_0 auto_p_0 text-muted text-left">'+value.manufacturer+'</td>'
						+'<td class="auto_bt_0 auto_p_0 text-muted text-right">'+value.model+'</td>'
						+'</tr></table></a>');
					});
				}
				$('#auto_suggest').append('<div class="auto_footer text-center auto_bg text-muted">'+result.message+'</div>');

				}
			})
		}
	});
</script>