.col_p-0
{
	padding-left: 0!important;
	padding-right: 0!important;
}
.border_r_0
{
	border-radius: 0!important;
}
.auto_border
{
	border: 1px solid #cccccc;
}
.auto_d_none
{
	display: none;
	position: absolute;
    z-index: 9999999;
}
.auto_m-0
{
	margin: 0!important;
}
.auto_w_60
{
	max-width: 65px;
	padding-right: 5px;
}
.auto_img_box
{
	width: 70px!important;
}
.auto_br{
	border-right: 1px solid #ccc;

}
.auto_bt_0
{
	border-top: none!important;
}
.auto_p_0
{
	padding: 0!important;
}
.auto_text
{
	font-weight: 700;
	font-size: 13px;
}
.auto_middle
{
	vertical-align: middle!important;
}
#auto_suggest
{
	max-height: 300px;
	overflow-y: scroll;
}

#auto_suggest::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#auto_suggest::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

#auto_suggest::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
	border-radius: 50em;
}
.auto_bg
{
	background: #e8e8e8;
	color: #696969;
	font-weight: 700;
}
@media (max-width: 747px){
.auto_mobile
{
	display: flex;
}
/*.auto_mobile .col-md-3
{
	width: 30%!important;
}
.auto_mobile .col-md-9
{
	width: 70%!important;
}*/
}
